extends layout

block content
  .container
    form.form-horizontal(name="addReview", method="post", action="/review/addReview",role="form")
      .form-group
        .col-xs-12
          h3(style="color: rgb(57, 121, 59)") New Conference Review
      .form-group
        label.col-xs-3(for="attendee") Conference Attendee:
        .col-xs-9
          input.form-control(type="text", id="attendee", placeholder="Full Name",name="attendee",required)
      .form-group
        label.col-xs-3(for="department") Conference Attendee Department:
        .col-xs-9
          input.form-control(type="text", id="department", placeholder="OICR Department",name="department")
      .form-group
        label.col-xs-3(for="conference") Conference Name:
        .col-xs-9
          input.form-control(type="text", id="conference", name="conference",required)
      .form-group
        label.col-xs-3(for="date") Conference Date (MM-YYYY):
        .col-xs-9
          input.form-control(type="month",id="date",name="date",required)
      .form-group
        label.col-xs-3(for="city") City:
        .col-xs-9
          input.form-control(type="text",id="city",name="city")
      .form-group
        label.col-xs-3(for="duration") Duration:
        .col-xs-9
          input.form-control(type="number", id="duration",name="duration",placeholder="Please specify the number of days")
      .form-group
        label.col-xs-3(for="focus") Area of Focus:
        .col-xs-9
          input.form-control(type="text", id="focus",name="area_of_focus")
      .form-group
        label.col-xs-6 Would you recommend this conference to your colleagues?
        .col-xs-3
          label.radio-inline Yes
          input(type="radio",name="recommendradio",id="recommendYes",value="true")
          label.radio-inline No
          input(type="radio",name="recommendradio",id="recommendNo",value="false")
      .form-group
        .col-xs-3
          h5
            b Please justify:
        .col-xs-9
          textarea.form-control(name="justification",rows="4",id="justification")
      .form-group
        .col-xs-3
          h5
            b Summary:
        .col-xs-9
          textarea.form-control(name="mSummary",rows="8",id="summary", placeholder="Please provide a summary of key learnings ")
      .form-group
        .col-xs-4
          h5
            b Possible Collaborators/Client Contacts:
        .col-xs-8
          textarea.form-control(name="collaborators",rows="6",id="contacts",placeholder="Please note any client contacts made at the event here")
      .form-group
        label.col-xs-5(for="rating") How do you rate the conference? (Marko being the best possible score)
        .col-xs-4
          select(id="rating", name="rating")
            option(value="1") 1
            option(value="2") 2
            option(value="3") 3
            option(value="4") 4
            option(value="5") 5
            option(value="6") 6
            option(value="7") 7
            option(value="8") 8
            option(value="9") 9
            option(value="10") Marko
      button.btn.btn-default(type="submit", style="margin-bottom:20px") Submit

