html,body {
  height: 100%;
}

h5.hyperlinks{
	color: green;
}
body {
  padding: 30px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.centerDiv {
	text-align: center;
}

label.radio-inline{
	padding-right: 5px;
}
